* {
    box-sizing: border-box;
}


form {
    height: 300px;
    width: 300px;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    margin: auto;
}

.heading {
    text-align: center;
}

form>label>input {
    display: block;
    margin: 10px 0px;
    padding: 5px;
    width: 200px;
    /* outline: none; */
}

.input-field {
    outline: none;
    padding: 5px;
    /* border-radius: 10px; */
}

.input-cont {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 5px;
    min-width: 50px;
    text-align: center;
    right: 50px;
}

input {
    outline: none;
}